@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../fonts/ArialRoundedMT.woff2') format('woff2'),
        url('../fonts/ArialRoundedMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../fonts/ArialRoundedMT-Light.woff2') format('woff2'),
        url('../fonts/ArialRoundedMT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../fonts/ArialRoundedMT-ExtraBold.woff2') format('woff2'),
        url('../fonts/ArialRoundedMT-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
	
  font-family: 'Arial Rounded MT';	
	background-color: #f8f8f8;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0
}
a:hover{
	text-decoration: none
}
.ptb100{
	padding-top:100px;
	padding-bottom: 100px;
}
h1 {
    font-size: 75px;
    line-height: 69px;
    color: #84c642;
    font-weight: 800;
}
h2 {
    font-size: 48px;
    color: #84c642;
    font-weight: bold;
}

h4 {
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    font-weight: 800;
}
h5 {
    font-size: 24px;
    line-height: 40px;
    color: #399cfc;
    font-weight: 800;
}
h6 {
    font-size: 19px;
    color: #939598;
    font-family: "Verdana";
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/******Header-Start*****/

.navbar-light .navbar-brand {
	padding: 0
}

.header-menu {
    width: 100%;
}

.menu-bar li {
    display: flex;
    align-items: center;
}

.navbar.shadow-sm {
	box-shadow: 0px 0px 9px rgba(0,0,0,0.5) !important
}

.logo img {
    width: 270px;
}
.menu-bar li {
    margin-left: 25px;
}
.menu-bar li a {
    font-size: 15px;
    color: #399cfc;
    font-weight: bold;
}
.login a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    background-color: #84c542;
    height: 40px;
    display: inline-flex;
    padding: 0px 35px;
    border-radius: 31px;
    line-height: 40px;
    text-transform: uppercase;
}
.login a:hover{
	background-color: #399cfc;
	transition: all ease 0.5s;
		
}
.login {
    margin-left: 20px;
}
header {
	background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    position: relative;
    z-index: 99;
}
.menu-bar li a:hover {
    color: #84c542;
    transition: all ease 0.5s;
}

/*****Header-end******/

/****Banner-Start******/

.banner-sec.ptb100 {
    padding-top: 40px;
    padding-bottom: 60px;
}

.btn-cnt-inner h4{
	float: none;
	display: inline-block;
}


.card-body {
    padding-top: 0;
}

.radio-slect {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	 font-size: 18px;
    line-height: 40px;
    color: #212529;
    font-weight: 800;
}

/* Hide the browser's default radio button */
.radio-slect input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
	border: 1px solid #929497;
}

/* On mouse-over, add a grey background color */
.radio-slect:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-slect input:checked ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-slect input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-slect .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.banner-sec {
    background-color: #f8f8f8;
	position: relative
}
.bnr-cnt h1{
    text-align: right;
	margin: 0 0 30px 0;
}
.bnr-frm input {
    border: 1px solid #a5a6a9;
    background-color: transparent;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 40px;
    color: #939598;
    font-weight: 800;
    border-radius: 4px;
}
.bnr-frm .radio-select {
    padding: 0 80px 0 0;
}

.bnr-frm input {
    border: 1px solid #a5a6a9;
    background-color: transparent;
    height: 40px;
    padding-left: 14px;
    font-size: 15px;
    line-height: 40px;
    color: #939598;
    font-weight: 800;
    border-radius: 4px;
    width: 154px;
    margin: 0px 5px;
}
input.width-big {
    width: 320px !important;
}
.bnr-frm {
    padding-top: 20px;
}
.pl110 {
    padding-left: 110px;
}
.radio-select input {
    display: none;
}
.btn-cnt {
    text-align: center;
    padding-top: 10px;
}
a.big-btn {
    font-size: 23px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 800;
    background-color: #399cfb;
    height: 64px;
    display: inline-flex;
    line-height: 66px;
    padding: 0px 100px;
    border-radius: 50px;
    margin-top: 21px;
}
.bnr-img img {
    width: 450px;
    margin-left: -55px;
	left: 150px;
	position: relative;
}

.banner-sec.ptb100 .btn-cnt {
    width: auto;
    float: right;
}
.bnr-cnt form {
    width: auto;
    float: right;
}
.bnr-frm h5 {
    color: #000;
}

.bnr-frm h4, .bnr-frm h5 {
    margin: 0 0 10px 0;
}

/******Banner-end******/

/*****Work-sec-start******/
.work-dev {
    background-color: #fff;
	margin-top: 80px;
}
.work-icon img {
    width: 200px;
    margin-top: -100px;
}
.work-icon {
    text-align: center;
}
.work-inr ul {
    list-style: disc;
    text-align: left;
}
.work-inr li {
    font-size: 18px;
    line-height: 40px;
    color: #939598;
    font-family: "Verdana";
}
.work-inr li {
    font-size: 18px;
    color: #939598;
    font-family: "Verdana";
    line-height: 21px;
    padding-bottom: 12px;
}
.work-inr {
    padding: 30px 40px;
}
.work-inr h5{
	padding-bottom: 20px;
	text-align: left;
}
.work-sec h2 {
    margin: 0 0 40px 0;
}

.pb{
	padding-bottom: 16px
}
.btn-sec {
    margin-top: 40px;
}

.work-sec .col-md-6:first-child {
    padding-right: 30px;
}

.work-sec .col-md-6:last-child {
    padding-right: 30px;
}

/*****Work-sec-end******/

/*****Happy-customer-start*******/
.title p {
    font-size: 18px;
    color: #939598;
    font-weight: 400;
    font-family: "Verdana";
}
.clint-msg {
    background-color: #fff;
    text-align: center;
    padding: 30px 40px;
}
.slick-slide.slick-cloned div:first-child {
    margin: 0px 15px !important;
}
.slick-initialized .slick-slide {
    display: block;
    padding: 0px 13px;
}
.clint-msg li i {
    color: #f8d939;
    margin: 0px 2px;
}
.clint-msg li i {
    color: #f8d939;
    margin: 0px 2px;
}
.work-inr ul {
    margin-left: 22px;
}
.clint-msg ul {
    justify-content: center;
    margin-bottom: 20px;
}
.clint-msg p {
    font-size: 14px;
    color: #939598;
    font-style: italic;
    font-family: "Verdana";
}
.Clint-review {
    padding-top: 60px;
}

/*****Happy-customer-end*******/



/****Choose-us-Start******/
.Choose-inr-sec ul {
    margin-top: 30px;
}
.Choose-inr-sec li img {
    width: 86px;
}
.choosecnt h6 {
    font-size: 19px;
    line-height: 28px;
    color: #399cfc;
    font-weight: bold;
}
.Choose-inr-sec li p {
    font-size: 18px;
    line-height: 22px;
    color: #939598;
    margin-bottom: 0;
}
.Choose-inr-sec li {
    margin-bottom: 20px;
}
.choose-img img {
     width: 73%;
    float: right;
    position: relative;
    margin-right: 150px;
}
/*****Choose-us end*****/

/*****Map-sec*******/
.map-txt p {
    font-size: 18px;
    line-height: normal;
    color: #939598;
    font-family: "Verdana";
    padding: 27px 180px 27px 0;
}
.map-txt input {
    font-size: 16px;
    color: #939598;
    font-weight: bold;
    height: 44px;
    border: 1px solid #c1c1c1;
    padding: 0px 10px;
    width: 70%;
    background-color: transparent;
	border-radius: 4px;
}

/*****Home-visit-start******/
.home-img img {
    width: 100%;
}
.homecnt h6 {
    font-size: 21px;
    line-height: 35px;
    color: #399cfc;
    font-weight: bold;
    padding: 10px 0px 0px;
}
.homecnt p {
    line-height: 21px;
    color: #939598;
    font-family: "Verdana";
    font-size: 18px;
}
.btn-cntr.text-center a {
    background-color: #84c542;
}
.homecnt h2 {
    font-size: 40px;
}

/*****Counter0sec******/
.counter-sec{
	background-image: url(../images/counter-bg.jpg);
	margin-top:100px;
	padding: 70px 0px;
	position: relative;
	background-position: center;
	background-size: cover;
}
.counter-sec:after{
   content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(57,156,271,0.7);
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.counter-sec .col-md-3 {
    position: relative;
    z-index: 999;
	text-align: center
}
.counter-sec  h2{
	color: #fff;
}
span.counter.animated.fadeInDownBig {
    font-size: 60px;
    line-height: 48px;
    color: #ffffff !important;
    font-weight: bold;
    z-index: 9999;
}
h3.animated.fadeIn {
    font-size: 26px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
}
.counter-sec h1 {
    color: #fff;
}
.counter-sec h3 {
    color: #fff;
    font-size: 22px;
}



/******Footer-start******/

footer {
    background-color: #399cfb;
    padding: 30px 0px 0px;
}
.ftr-list h5 {
    font-size: 22px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
}
.ftr-list ul li{
	line-height: normal;
}

.ftr-list ul li a {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}
footer .col-md-3 .ftr-list a {
    font-size: 16px;
}

.ftr-list ul li a:hover{
	color: #c1c1c1;
	transition: all ease 0.5s;
}
.ftr-list h6 {
    color: #fff;
    font-size: 16px;
}
.ftr-list.w50 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.ftr-list {
    margin-bottom: 20px;
}
.ftr-logo img {
    width: 100%;
}
.social-link ul li a {
    color: #fff;
    font-size: 32px;
    margin: 0px 15px;
}
.social-link {
    margin: 10px 0;
}

.ftr-btn a {
    font-size: 16px;
    line-height: 40px;
    color: #399cfc;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    padding: 0px 16px;
    height: 40px;
    display: table;
    border-radius: 50px;
    margin: 20px auto 40px auto;
    float: none;
}
.title-btn h2 {
    font-size: 27px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.title-btn a {
    font-size: 16px;
    line-height: 40px;
    color: #399cfc;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    padding: 0px 16px;
    height: 40px;
    display: table;
    border-radius: 50px;
	margin: 20px auto 10px auto;
    float: none;
}
.ftr-btn a:hover, .title-btn a:hover, a.big-btn:hover{
	background-color: #000;
	color: #fff;
	transition: all ease 0.5s;
}
.copy-sec p {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
	margin: 0
}
.copy-sec {
    background-color: #929497;
    padding: 10px 0px;
    text-align: center;
	margin-top: 30px;
}